#button:hover {
    background-color: #148c8b;
}


.FAicon{
    margin-left: 30px;
    vertical-align: middle;
}

.IconDiv{
    font-size: 20px;
    margin-left: 8%;
}

.headerLogo{
    margin-right: 1%;
    height: 100%;
    width: 6%;
}

@media(max-width:1350px){
    .headerLogo{
        display: none;
    }
    .IconDiv{
        margin-left: 5%;
    }
    
}

@media(max-width:1055px){
    .IconDiv{  
        display: none;
    }
    
}

