#button:hover {
    background-color: #148c8b;
}


.FAicon{
    margin-left: 30px;
}

.IconDiv{
    font-size: 18px;
    margin-left: 2%;
}

.headerLogo{
    margin-right: 1%;
    height: 100%;
    width: 6%;
}

@media(max-width:1350px){
    .IconDiv{  
        font-size: 18px;
        
    }
    .headerLogo{
        display: none;
    }
    
}


@media(max-width:970px){
    .IconDiv{  
        display: none;
        
    }
    
}

