.ContainerContainer{
    height: 250%;
    width: 100%;
    background-color: #f5f5f5;
}

.entryContainer{
    margin-top: 15%;
    height: 40%;
    width: 100%;
    background-color: #148c8b;
}

.lastContainer{
    height: 30%;
    width: 100%;
    text-align: center;
}


.iconArrow:hover{
    background-color: #ffffff;
}

#arrowLeft{
    margin-top: 50px;
}

#arrowRight{
    margin-top: 50;
}   






