@media(min-width:900px){
    .carousel{
        width: 80% !important;
        height: 80%;
    }
    
    .entryContainer{
        margin-top: 8%;
    }

}


@media(max-width:900px){
    .FAicon{  
        font-size: 20px;
    }
    .entryContainer{
        margin-top: 15%;
    }
}


.FAicon{
    vertical-align: middle;
}

.ContainerContainer{
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}

.entryContainer{
    width: 100%;
    background-color: #148c8b;
}


.iconArrow:hover{
    background-color: #ffffff;
}

#arrowLeft{
    margin-top: 50px;
}

#arrowRight{
    margin-top: 50;
} 

.ListDiv{
    width: 100%;
    padding: 10px;
    margin-top: 5%;
}

.listItem{
    padding:10px;
    margin-right:10px;

    border-color: #148c8b;
    border-style: solid;
    border-width: 1pt;
    color: #148c8b;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.listContainer{
    display:flex;
    flex-direction:row;
    height:100%;
    background-color: #f5f5f5;
}

.listTitle{
    text-Align: center;
    margin-Bottom: 15px; 
    border-Color: #148c8b;
    border-Style: none none solid none;
    border-Width: 1pt;
    width:20%;
    margin-Right:auto;
    margin-Left:auto;
    color: #148c8b;
}


.lastContainer{
    height: 20%;
    width:  80%;
    text-align: center;
    margin-Top: 5%;
}



