#extraDiv{
    position: fixed;
    width: 50%;
    height: 80%;
    background-color: #f5f5f5;
    margin-left: 25%;
    z-index: 10;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.CloseIcon:hover{
    background-color: #d3d3d3;
   
}

#bannerLink{
    padding: 15%;
    padding-bottom: 0;
    position: relative;
    left: 5%;
    top: 10%;
    z-index: 4;
}

.Container{
    height: 100%;
    width: 100%;
}

.entryContainer{
    width: 100%;
    background-color: #148c8b;
}


.iconArrow:hover{
    background-color: #ffffff;
}



.ListDiv{
    width: 100%;
    padding: 10px;
    margin-top: 5%;
}

.listItem{
    padding:10px;
    width: 100%;
    margin-right:10px;
    border-color: #148c8b;
    border-style: solid;
    border-width: 1pt;
    color: #148c8b;
    align-items: center;
    display:flex;
    flex-direction:column;
}

.listContainer{
    display:flex;
    flex-direction:row;
    height:100%;
    background-color: #f5f5f5;
    width: 100%;
    font-size: 18px;
}

.listTitle{
    text-Align: center;
    margin-Bottom: 15px; 
    border-Color: #148c8b;
    border-Style: none none solid none;
    border-Width: 1pt;
    width:20%;
    margin-Right:auto;
    margin-Left:auto;
    color: #148c8b;
}


.lastContainer{
    height: 20%;
    width:  80%;
    text-align: center;
    margin-Top: 5%;
}



@media(min-width:900px){
    .carousel{
        width: 80% !important;
        height: 80%;
    }
    .entryContainer{
        margin-top: 5%;
    }

}


@media(max-width:900px){
    .FAicon{  
        font-size: 16px;
    }
    #extraDiv{
        width: 70%;
        height: 50%;
        margin-left: 15%;
    }
    .listContainer{
    width: 20%;
    font-size: 10px;
    }
  
}

