.Container{
    height: 90%;
    display: flex;
    margin-Top: 90px;
    flex-Direction: column; 
    background-Color:#f5f5f5;
    align-items: center;
    margin-bottom: 10%;
    font-size: 22px;
}

.LeftDiv{
    height:50%;
    width:48%;
    text-align:center;
    color: #148c8b;
    margin-top: 3%;
    margin-Left:-35%;
}

.RightDiv{
    height:50%;
    width:48%;
    text-align:center;
    color: #148c8b;
    margin-top: 3%;
    margin-Left:30%;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

@media(max-width:800px){
    .LeftDiv{
        width:80%;
        margin-Left: 0%;
        margin-top: 0%;
    }
    .RightDiv{
        width:80%;
        margin-Left:0%;
    }
    .Container{
        font-size: 14px;
    }
}
  
