#button:hover {
    background-color: #148c8b;
}

#bottomButton{
    background-color: #148c8b;
    margin-left: 50%;
    position: relative;
    height: 50px;
    width: 50px;
}

#bottomButton:hover {
    background-color: #0d6866;
}

.FAicon{
    vertical-align: middle;
    margin-right: 10px ;
}


@media(max-width:900px){
    .FAicon{  
        font-size: 20px;
    }
    #bottomButton{
        height: 35px;
        width: 35px;
    }
}






